html, body {
	margin:0;
	padding:0;
	color:#999;
}

.dock_container {
	width:100%;
	height:64px;
	bottom:-20px;
	left:0;
	position:absolute;
	z-index:5;
}

.dockbase {
	width:600px; /* Dock's Width */
	height:0;
	border-bottom-width:64px; /* Dock's Height */
	border-bottom-style:solid;
	border-bottom-color:transparent; /* BG Color */
	border-left:32px transparent solid;
	border-right:32px transparent solid;
	background:url('../img/dock/dock_bg.png');
	background-position:center bottom;
	bottom:18px;
	position:relative;
	margin:0 auto 0 auto;
	padding-left:20px;
}

.dockbase a {
	text-decoration:none;
	text-decoration-line:none;
	color:inherit;
}

.dockbase ul {
	width:600px;
	height:64px;
	bottom:0;
	margin-right:0px;
}

.dockbase img {
	width:100%;
}

.dockbase li {
	width:80px;
	height:80px;
	bottom:0;
	padding-top:0px;
	position:absolute;
	display:inline-block;
	text-align:center;
	text-decoration:none;
	background-color:transparent;
}

.dockbase li:hover span {
	display:inline-block;
}

.dockbase span {
	width:100%;
	height:20px;
	top:-40px;
	padding-left:14px;
	padding-right:14px;
	position:absolute;
	color:#fff;
	font-weight:bold;
	display:none;
	border-radius:10px;
	background-color:rgba(0,0,0,0.5);
}

.dockbase span:after {
	content:'';
	bottom:-10px;
	left:45%;
	position:absolute;
	width:0;
	height:0;
	border-left:10px transparent solid;
	border-right:10px transparent solid;
	border-top:10px rgba(0,0,0,0.5) solid;
}

